//////////////DEVICES///////////////
$device-sm: 780px;
$device-md: 1280px;
$device-lg: 1440px;

////////////COLORS/////////////////
$orange: #ff8800; //icons, buttons, etc
$gray: #8b8b8b; //text
$light-gray: #eeeded; //background
$medium-gray: rgba(0, 0, 0, 0.07); //tabs
$dark-gray: #333333; //tags
$purple: #9933cc; //icons
$light-blue: #0b8fe8; //icons
$medium-blue: #2980b9; //icons
$light-green: #99cc00; //icons
$medium-green: #27b091; //icons
$light-black: #101010; //footer
$border-color: #e3e3e3; //borders
$post-tags-color: #777777; //tags
$navigation-items-color: #8b8b8b; //navigation
$subscribe-field-color: #2a2a2a; //subscribe-field
